body {
    display: flex;
    flex-direction: column; /* Cambiado a columna para apilar timer y footer */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

/* Estilo para el contenedor del temporizador */
#timerContainer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex; 
    flex-direction: column;
    align-items: center;
    position: relative; /* Para asegurar que esté sobre el video */
    z-index: 10;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#time {
    font-size: 72px;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#timeInput {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    width: 200px; /* Asegura un ancho consistente */
}

#startButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; 
}

#startButton:hover {
    background-color: #e64a19;
}

.hidden {
    display: none !important; /* Usar !important para asegurar que se aplique */
}

/* Estilos para el video de fondo */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para el footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20; /* Asegura que esté sobre el video */
}

footer p, footer a {
    color: white;
    text-decoration: none;
    margin: 5px;
}